<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tomato_timer</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0F316E26-D317-47A6-AF25-8C58E2706F8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34C213E5-79DA-420B-827A-1CCB082EA5F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9186AC1-AEB7-443D-9F7A-90A226E112A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>778ABB38-5F59-49D9-973E-F078717EBEC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F316E26-D317-47A6-AF25-8C58E2706F8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kongminhao</string>
	<key>description</key>
	<string>🍅工作法</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>tomato_timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>您已经🍅了{query}分钟</string>
				<key>title</key>
				<string>番茄提醒</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>34C213E5-79DA-420B-827A-1CCB082EA5F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tm</string>
				<key>subtext</key>
				<string>tm 25(minutes)</string>
				<key>text</key>
				<string>番茄工作法</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>778ABB38-5F59-49D9-973E-F078717EBEC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import time
import sys

T = abs(int(sys.argv[1].split()[0]))

if T &lt;= 60:
  time.sleep(T * 60)
  print(T),
  exit(0)
else:
  exit(1)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0F316E26-D317-47A6-AF25-8C58E2706F8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>A9186AC1-AEB7-443D-9F7A-90A226E112A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>一键贴图，上传到七牛云</string>
	<key>uidata</key>
	<dict>
		<key>0F316E26-D317-47A6-AF25-8C58E2706F8B</key>
		<dict>
			<key>xpos</key>
			<integer>315</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>34C213E5-79DA-420B-827A-1CCB082EA5F1</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>778ABB38-5F59-49D9-973E-F078717EBEC3</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A9186AC1-AEB7-443D-9F7A-90A226E112A6</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
